:root {
  --primary: #71cc91;
  --secondary: #9caea9;
  --tertiary: #5ca5a5;
  --light-dark: #7861e2;
  --dark: #6e63d3;
  --border-radius: .3rem;
}

* {
  box-sizing: border-box;
}

/* .card-header {  */
    /* center strip around how the weather there?  */
    /* background-color: royalblue;        */
    /* color: seashell;     */
/* } */

.header p {
font-size: 1.5rem;
}

.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: greenyellow;
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
  
   .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    background-image: url('../images/blue_sky.JPG');
    color: var(--primary);
  }
  
  .header {
    color: var(--primary);
    /* background-color: var(--dark); */
    /* background-image: url('../images/IMG_0372.JPG'); */
    padding: 1.0%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
    text-align: center;
  }
  
  .card-body {
    padding: 2.5%;
    /* affects weather cards and a strip alonmg the top */
    /* background-color: var(--light-dark); */
  }

  /* FONT UTILS */
.text-uppercase {
  text-transform: uppercase;
}
  